.loading {
    width: 1170px;
    height: 505px;
    overflow: auto;
    text-align: center;
    line-height: 505px;
    /*border: 2px solid red;*/
}
.list {
    width: 1170px;
    height: 505px;
    overflow: auto;
    /*border: 2px solid red;*/
}

.list ul li {
    width: 1170px;
    height: 100px;
    text-align: left;
    /*border: 1px solid green;*/
    border-bottom: 1px solid rgba(170, 170, 170, 0.61);;
}

.list ul li img {
    margin-top: 30px;
    margin-left: 30px;
}

.text {
    width: 70%;
    height: 80px;
    margin-left: 100px;
    margin-top: -65px;
    /*border: 1px solid red;*/
    overflow: auto;
}

.text p:nth-child(1) {
    font-size: 24px;
    color: rgba(238, 238, 238, 0.87);
    margin-bottom: 4px;
}

.text p:nth-child(2) {
    font-size: 20px;
    color: #aaa;
    margin-bottom: 0.8%;
}

.price {
    width: auto;
    height: 101px;
    line-height: 101px;
    margin-top: -95px;
    text-align: right;

    /*border: 1px solid red;*/
}

.price p {
    font-size: 30px;
    color: #d2ac2b;
    margin-right: 10px;
}

.list a {
    display: inline-block;
}

.list a:hover {
    background: rgba(255, 255, 255, 0.2);
}

















