* {
	margin: 0 auto;
}

body {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: cover;
}

::-webkit-scrollbar {
	display: none;
}

.shadow {
	width: 1280px;
	height: 720px;
	background: #000;
	opacity: 0.8;
	color: #000000;
	position: absolute;
	/*top: 0;
	left: 0;*/
}

.content {
	width: 1280px;
	height: 720px;
	position: absolute;
	/*padding-left: 56px;
    padding-bottom: 56px;*/
	/*border: 1px solid red;*/
}

.entry {
	font-size: 35px;
	color: #fff;
}

.content p {
	font-size: 16px;
	color: #fff;
}

.inp {
	width: 34%;
	height: 40px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 6px;
	text-align: center;
	caret-color: #d2ac2b;
}

.header {
	margin-top: 14px;
	width: 1160px;
	height: 60px;
	text-align: left;
	vertical-align: middle;
	/*border: 1px solid blue;*/
}

.header .lt {
	width: auto;
	height: 60px;
}

.header .lt2 {
	width: 3px;
	height: 44px;
	margin-top: 4px;
	margin-left: 20px;
}

.header .welcome {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.header .weathertime {
	height: 60px;
	line-height: 60px;
	float: right;
	display: inline-block;
}

.weathertime ul li {
	float: left;
	color: #eee;
	font-size: 20px;
	margin-left: 36px;
	/*border: 0.1px solid green;*/
}

.weathertime ul li img {
	/*position: relative;*/
}

.header p {
	color: #fff;
	font-size: 16px;
}

.main {
	width: 1170px;
	height: 590px;
	text-align: left;
	/*margin-left: 2%;
    margin: -2% auto;*/
}

.main .text {
	color: #fff;
	font-size: 26px;
}

.main .small {
	color: #aaa;
	font-size: 15px;
}

.next {
	position: absolute;
	top: 314px;
	left: 1240px;
	display: none;
	opacity: 0.4;
}

.previous {
	position: absolute;
	top: 314px;
	left: 10px;
	display: none;
	opacity: 0.4;
}

.img {
	/*margin-top: 18px;*/
	margin-top: -8px;
}

.next img {
	width: 32px;
}

.previous img {
	width: 32px;
}


/*.defaultStyle {*/


/*opacity: 0.5;*/


/*}*/

.defaultStyle {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.main .active {
	margin-left: -2px;
	margin-top: -2px;
	border: 3px solid #d2ac2b;
}
.main>div{
	/*background-size: contain !important;*/
	background-repeat:no-repeat !important;
}

/*
.defaultStyle{
	opacity: 0.5;
}

.menu .active{
	border:1px solid #d2ac2b;	
	opacity: 1;
}
.menu div:hover{
	border:1px solid #d2ac2b;	
}
.next{
	position:absolute;
	top: 320px;
	left: 1225px;	
}
.next img{
	width: 54%;
}
.previous{
	position:absolute;
	top: 320px;
	left: 10px;
}
.previous img{
	width: 54%;
}