<!--商品详情-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/prodetail.css" rel="stylesheet">
    <link href="../css/tab.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/tab/jquery.js"></script>

    <script src="../js/vue.min.js"></script>
</head>
<body>
<div>
    <div class="shadow"></div><!--遮罩黑色背景-->
    <div class="content">
        <div class="header">
            <img id="logo" alt="" class="lt"/>
            <img src="../img/startwelcome/shu.png" alt="" class="lt2"/>
            <div class="welcome">
                <p><span id="customer"></span></p>
                <p> <span id="roomNumber"></span></p>
            </div>
            <div class="weathertime">
                <ul>
                    <li>
                        <span id="dateweek"></span>
                    </li>
                    <li>
                        <img src="../img/icon-weather.png"/>
                        <span id="wendu"></span>
                    </li>
                    <li>
                        <img src="../img/icon-time.png"/>
                        <span id="timemm"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="wrapper">
            <div class="box demo2">
                <div class="top_inf" id="app"><!--上半部分-->
                    <div class="big_img">
                        <img :src="detaildata.defaultImage.internalImageId"/>
                        <!--左上大图-->
                    </div>
                    <div class="tiltle_name">
                        <p v-text="detaildata.translates[window.sessionStorage.language].title">
                        <p>¥<span v-text="detaildata.priceStr"></span></p>
                        <p id="desc"></p>
                        <button id="btnadd" class="add_btn"></button>
                    </div>
                </div>
                <div class="bot_inf" id="app2"><!--下面部分-->
                    <div class="better">
                        <p id="better-with" style="height: 32px;"></p>
                        <ul id="better">
                            <li v-for="item in detaildatabot">
                                <img :src="item.defaultImage.internalImageId"/>
                                <div class="nameprice">
                                    <p v-text="item.translates[window.sessionStorage.language].title"></p>
                                    <p>¥<span v-text="item.defaultPriceInMill/1000"></span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="brief" v-if="briefInfo != null && briefInfo != ''">
                        <p id="brief-bot"></p>
                        <div id="briefinfo" class="marquee"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="bottomVue" class="bottom_tiao">
            <img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png"/>
            <img v-else src="../img/bottom-ch.png"/>
        </div>

        <div class="mianban1" id="app3">
            <div class="mianban_1"><!--弹出层1-->
                <div class="fri_title">
                    <p id="topTitle"></p>
                    <p>Total:¥<span id="topPrice"></span></p>
                </div>
                <div class="fried" v-for="group in optionData.variantData.optionGroups">
                    <p id="fri1"
                       v-text="optionData.translates[window.sessionStorage.language].optionTranslations.translations[group.langAgnosticId]"></p>
                    <ul id="ul_1">
                        <li id="ac1" v-for="item in group.options" class="default"
                            v-text="optionData.translates[window.sessionStorage.language].optionTranslations.translations[item.langAgnosticId]"></li>
                    </ul>
                </div>

                <div class="fried_bot">
                    <div id="add_btn2"></div>
                </div>
            </div>
        </div>
        <div class="mianban2">
            <div class="mianban_2"><!--弹出层2-->
                <div class="success">
                    <p id="success-bot"></p>
                </div>
                <div class="text">
                    <p id="success-text"></p>
                </div>
                <div class="shop">
                    <img src="../img/other/success.png"/>
                </div>
                <div class="btn_double">
                    <ul>
                        <li id="go" class="btn_1 activeli"></li>
                        <li id="con" class="btn_2"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/bottom.js"></script>
<script src="../js/top.js"></script>
<script>
    //头部的日期和时间
    $("#dateweek").html(dateweek);//日期
    //$("#timemm").html(time);
    $("#roomNumber").html(window.sessionStorage.language == "zh-cn"?"房间号 "+window.localStorage.roomId:"Room "+window.localStorage.roomId);
//  $("#customer").html(window.sessionStorage.language == "zh-cn"?"欢迎 "+window.sessionStorage.customer:"Welcome "+window.sessionStorage.customer);
    
    if(window.sessionStorage.language == "zh-cn") {
				if(window.sessionStorage.customerTitle == 'Mr') {
					$("#customer").html("欢迎 " + window.sessionStorage.customer + '先生');
				} else if(window.sessionStorage.customerTitle == 'Ms') {
					$("#customer").html("欢迎 " + window.sessionStorage.customer + '女士');
				}

			} else {
				if(window.sessionStorage.customerTitle == 'Mr') {
					$("#customer").html("Welcome " + 'Mr ' + window.sessionStorage.customer);
				} else if(window.sessionStorage.customerTitle == 'Ms') {
					$("#customer").html("Welcome " + 'Ms ' + window.sessionStorage.customer);
				}
			}
    try {
        $("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
    } catch (e) {
    }

    //键盘控制
    var currentpage = 1;//分层
    var currentline = 1;//第二层的行
    var focustier = 1;//第一层（底层）
    var focustwo = 1;//第三层
    document.onkeydown = function (e) {
        if (!e) {
            e = window.event;
        }
        switch ((e.keyCode || e.which)) {
            case 13://enter
            case 29443:
                toPage();
                break;
            case 37://左
            case 4:
                switch (currentpage) {
                    case 1:
                        if (jsondata.length > 0) {
                            switch (focustier) {
                                case 1:
                                    $("#btnadd").removeClass("add_btn");
                                    $("#better li:nth-child(1)").addClass("acbetter");
                                    focustier = 2;
                                    break;
                                case 2:
                                    $("#better li:nth-child(1)").removeClass("acbetter");
                                    $("#btnadd").addClass("add_btn");
                                    focustier = 1;
                                    break;
                                case 3:
                                    $("#better li:nth-child(2)").removeClass("acbetter");
                                    $("#better li:nth-child(1)").addClass("acbetter");
                                    focustier = 2;
                                    break;
                                case 4:
                                    $("#better li:nth-child(3)").removeClass("acbetter");
                                    $("#better li:nth-child(2)").addClass("acbetter");
                                    focustier = 3;
                                    break;      
                                case 5:
                                    $("#better li:nth-child(3)").addClass("acbetter");
                                    focustier = 4;
                                    break;
                                default:
                                    break;
                            }
                        }
                        break;
                    case 2:
                        optionItemIndexArray[currentline - 1]--;
                        changeOptionItem();
                        break;
                    case 3:
                        switch (focustwo) {
                            case 1:
                                break;
                            case 2:
                                $("#con").removeClass("activeli");
                                $("#go").addClass("activeli");
                                focustwo = 1;
                                break;
                            default:
                                break;
                        }
                        break;
                    default:
                        break;
                }
                break;
            case 38://上
            case 29460:
                switch (currentpage) {
                    case 1:
                        if (jsondata.length > 0) {
                            switch (focustier) {
                                case 1:
                                    break;
                                case 2:
                                    $("#better li:nth-child(1)").removeClass("acbetter");
                                    $("#btnadd").addClass("add_btn");
                                    focustier = 1;
                                    break;
                                case 3:
                                    $("#better li:nth-child(2)").removeClass("acbetter");
                                    $("#btnadd").addClass("add_btn");
                                    focustier = 1;
                                    break;
                                case 4:
                                    $("#better li:nth-child(3)").removeClass("acbetter");
                                    $("#btnadd").addClass("add_btn");
                                    focustier = 1;
                                    break;
                                case 5:
                                    $("#btnadd").addClass("add_btn");
                                    focustier = 1;
                                    break;
                                case 6:
                                    break;
                                default:
                                    break;
                            }
                        }
                        break;
                    case 2:
                        currentline--;
                        changeOptionLine();
                        break;
                    case 3:
                        break;
                    default:
                        break;
                }
                break;
            case 39://右
            case 5:
                switch (currentpage) {
                    case 1:
                        if (jsondata.length > 0) {
                            switch (focustier) {
                                case 1:
                                    $("#btnadd").removeClass("add_btn");
                                    $("#better li:nth-child(1)").addClass("acbetter");
                                    focustier = 2;
                                    break;
                                case 2:
                                    $("#better li:nth-child(1)").removeClass("acbetter");
                                    $("#better li:nth-child(2)").addClass("acbetter");
                                    focustier = 3;
                                    
                                    break;
                                case 3:
                                    $("#better li:nth-child(2)").removeClass("acbetter");
                                    $("#better li:nth-child(3)").addClass("acbetter");
                                    focustier = 4;
                                    break;
                                case 4:
                                    $("#better li:nth-child(3)").removeClass("acbetter");
                                    $("#btnadd").addClass("add_btn");
                                    focustier = 1;
                                    break;
                                default:
                                    break;
                            }
                        }
                        break;
                    case 2:
                        optionItemIndexArray[currentline - 1]++;
                        changeOptionItem();
                        break;
                    case 3:
                        switch (focustwo) {
                            case 1:
                                $("#go").removeClass("activeli");
                                $("#con").addClass("activeli");
                                focustwo = 2;
                                break;
                            case 2:

                                break;
                            default:
                                break;
                        }
                        break;
                    default:
                        break;
                }
                break;
            case 40://下
            case 29461:
                switch (currentpage) {
                    case 1:
                        if (jsondata.length > 0) {
                            switch (focustier) {
                                case 1:
                                    $("#btnadd").removeClass("add_btn");
                                    $("#better li:nth-child(1)").addClass("acbetter");
                                    focustier = 2;
                                    break;
                                case 2:
                                    break;
                                case 3:
                                    break;
                                case 4:
                                    break;
                                case 5:
                                    break;
                                case 6:
                                    break;
                                default:
                                    break;
                            }
                        }
                        break;
                    case 2:
                        currentline++;
                        changeOptionLine();
                        break;
                    case 3:
                        break;
                    default:
                        break;
                }
                break;
            case 8:
            case 88: //返回
            
				history.go(-1)
				return false;
				break;
			case 45: //退出
				return false;
				break;              
            default:
                break;
        }
    }
    
    function toPage() {//enter执行命令
    	
        switch (currentpage) {
            case 1:
            console.log(focustier);
                switch (focustier) {
                	
                    case 1:
                        if (optionGroups != null && optionGroups != '') {
                            $(".mianban1").css("display", "block");
                            currentpage = 2;
                        } else {
                            cartAdd();
                        }
                        break;
                    default:
                        window.sessionStorage.itemDetail = JSON.stringify(jsondata[focustier - 2]);
                        window.location.href = "prodetailV3.html";
                        
                        break;
                }
                break;
            case 2:
                if (currentline == optionGroups.length + 1) {
                    cartAdd();
                }else{
                    $(".fried:eq(" + (currentline - 1) + ") #ul_1 li:nth-child(" + optionItemIndexArray[currentline - 1] + ")").addClass("selected");
                }
                break;
            case 3:
                switch (focustwo) {
                    case 1:
                        location = 'ShoppingCart.html?fromPage=1';
                        break;
                    case 2:
                        focustwo = 1;
                        $("#con").removeClass("activeli");
                        $("#go").addClass("activeli");
                        cancelDialog();
                        break;
                    default:
                        break;
                }
                break;
            default:
                break;
        }
    }
    function changeOptionLine() {
        $(".fried p").removeClass("fri");
        $("#add_btn2").removeClass("add_btn2");

        if (currentline == 0) {
            currentline = optionGroups.length + 1;
        } else if (currentline == optionGroups.length + 2) {
            currentline = 1;
        }
        if (currentline <= optionGroups.length) {
            $(".fried p:eq(" + (currentline - 1) + ")").addClass("fri");
        } else {
            $("#add_btn2").addClass("add_btn2");
        }
    }
    function changeOptionItem() {
        if (optionItemIndexArray[currentline - 1] == 0) {
            optionItemIndexArray[currentline - 1] = optionGroups[currentline - 1].options.length;
        } else if (optionItemIndexArray[currentline - 1] > optionGroups[currentline - 1].options.length) {
            optionItemIndexArray[currentline - 1] = 1;
        }
        $(".fried:eq(" + (currentline - 1) + ") #ul_1 li").removeClass("active");
        $(".fried:eq(" + (currentline - 1) + ") #ul_1 li").removeClass("selected");
        $(".fried:eq(" + (currentline - 1) + ") #ul_1 li:nth-child(" + optionItemIndexArray[currentline - 1] + ")").addClass("active");
    }
    /**
     * 数据
     */
    //上半部分
    var baseData = JSON.parse(window.sessionStorage.itemDetail);
    baseData["priceStr"] = formatNum(baseData.defaultPriceInMill/1000+"");
    //console.log(baseData);
    var briefInfo = baseData.translates[window.sessionStorage.language].additionalMessages;
    if (briefInfo != null && briefInfo != '') {
        $("#briefinfo").html(baseData.translates[window.sessionStorage.language].additionalMessages[0].message);
    }
    $("#desc").html(baseData.translates[window.sessionStorage.language].description);
    var merchandiseId = baseData.langAgnosticId;//商品id
    var unitPrice = baseData.defaultPriceInMill;//默认单价
    var optionGroups = baseData.variantData.optionGroups;//选项
    if (optionGroups != null && optionGroups != '') {
        var optionItemIndexArray = new Array();
        for (var i = 0; i < optionGroups.length; i++) {
            optionItemIndexArray.push(1);
        }
    }

    var vue = new Vue({
        el: '#app',
        data: {
            detaildata: baseData
        },
    });
    var vue = new Vue({
        el: '#app3',
        data: {
            optionData: baseData
        },
    });

    $("#ul_1 li:first-child").addClass("active");
    $(".fried p:first").addClass("fri");

    $("#topTitle").html(baseData.translates[window.sessionStorage.language].title);
    $("#topPrice").html(baseData.defaultPriceInMill / 1000);

    //下半部分
    var jsondata = new Array();
    $(function () {
        if(baseData.relatedMerchandiseIds){
            getRelation(0);
        }
    });
    function getRelation(index) {
        $.ajax({
            type: "GET",
            url: window.sessionStorage.server_url+"/api/junctioncore/v1/page/"+baseData.relatedMerchandiseIds[index],
            beforeSend: function (data) {
                data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
            },
            dataType: "json",
            data: {
                hotel_id: window.localStorage.hotelId,
                restaurant_id:window.localStorage.restaurantId,
                device_id: window.localStorage.deviceId,
                device_type: "tv"
            },
            success: function (data) {
                //console.log(data);
                try {
                    data.data.defaultImage.internalImageId = JSON.parse(window.sessionStorage.imgs)[data.data.defaultImage.internalImageId].internal_image_url;
                } catch (e) {
                }
                jsondata.push(data.data);
                index++;
                if(index<baseData.relatedMerchandiseIds.length){
                    getRelation(index);
                }
                ;
            }
        });
    }
    ;
    var vue = new Vue({
        el: '#app2',
        data: {
            detaildatabot: jsondata
        },
    });
    //console.log(baseData);
    /*
     * 购物车
     */
    var deviceId = window.localStorage.deviceId;
    function cartAdd() {
        var options = new Array();
        if (optionGroups != null && optionGroups != '') {
            for (var i = 0; i < optionGroups.length; i++) {
                options.push(optionGroups[i].options[optionItemIndexArray[i] - 1].langAgnosticId+"");
            }
        }
        $.ajax({
            type: "POST",//提交数据的类型 POST
            url: window.sessionStorage.server_url+"/api/junctioncore/v1/cart/?" +
            "hotel_id="+window.localStorage.hotelId+
            "&restaurant_id="+window.localStorage.restaurantId+
            "&device_id="+window.localStorage.deviceId+
            "&device_type=tv",
//            beforeSend: function (data) {
//                data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
//            },
            dataType: "json",//数据类型
            traditional: true,
            data: {
                quantity: 1,//数量
                lang_agnostic_id: merchandiseId,//商品id
                variants: options,//选项组
                note:""
            },//提交的参数
            success: function (data) {
                //console.log(data);
                $(".mianban1").css("display", "none");
                $(".mianban2").css("display", "block");
                currentpage = 3;
            }
//            ,error:function (data) {
//                $(".mianban1").css("display", "none");
//                $(".mianban2").css("display", "block");
//                currentpage = 3;
//            }
        });
    }
    ;

    /**
     * 取消弹窗
     */
    function cancelDialog() {
        switch (currentpage) {
            case 1:
                history.go(-1);
                break;
            case 2:
                $(".mianban1").css("display", "none");
                currentpage = 1;
                break;
            case 3:
                $(".mianban2").css("display", "none");
                currentpage = 1;
                break;
            default:
                break;
        }
    }
    ;

    //@div:滚动容器
    //@step:每次滚动的高度，默认1px
    //@delay:滚动间隔，默认0.05s
    //@nextDelay:滚动完毕间隔多少秒再次滚动，默认2s后启动
    function myMarquee(div, step, delay, nextDelay) {
        step = step || 1;
        delay = ( delay || 0.5) * 1000;
        nextDelay = (nextDelay || 1) * 1000;
        ;
        var viewHeight = div.offsetHeight, timer, scrollTop = 0, totalHeight =div.scrollHeight -  viewHeight, waitForNext = false;
        //前后补充容器高度一样的空白
        div.innerHTML = '<div style="height:' + viewHeight + '"></div>' + div.innerHTML + '<div style="height:' + viewHeight + '"></div>';
        function scroll() {
            scrollTop += step;
            div.scrollTop = scrollTop;
            if (scrollTop >= totalHeight) {
                scrollTop = div.scrollTop = 0;
                clearInterval(timer);
                waitForNext = true;
                setTimeout(function () {
                    waitForNext = false;
                    startTimer()
                }, nextDelay);
            }
        }

        function startTimer() {
            if (!waitForNext) timer = setInterval(scroll, delay);
        }

        $(div).hover(function () {
            clearInterval(timer)
        }, startTimer);

        setTimeout(function () {
            startTimer()
        }, 3000);
    }
    $('div.marquee').each(function () {
        if (this.scrollHeight > this.offsetHeight) new myMarquee(this);
    });

    function formatNum(str){
        var newStr = "";
        var count = 0;

        if(str.indexOf(".")==-1){
            for(var i=str.length-1;i>=0;i--){
                if(count % 3 == 0 && count != 0){
                    newStr = str.charAt(i) + "," + newStr;
                }else{
                    newStr = str.charAt(i) + newStr;
                }
                count++;
            }
            str = newStr + ".00"; //自动补小数点后两位
        }
        else
        {
            for(var i = str.indexOf(".")-1;i>=0;i--){
                if(count % 3 == 0 && count != 0){
                    newStr = str.charAt(i) + "," + newStr;
                }else{
                    newStr = str.charAt(i) + newStr; //逐个字符相接起来
                }
                count++;
            }
            str = newStr + (str + "00").substr((str + "00").indexOf("."),3);
        }
        return str;
    }
    /*
     * 本地语言
     */

    if (window.sessionStorage.language == "zh-cn") {
        $("#btnadd").html("加入购物车");
        $("#better-with").html("推荐搭配");
        $("#brief-bot").html("简介");
        $("#add_btn2").html("加入购物车");
        $("#success-bot").html("成功");
        $("#success-text").html("成功加入购物车，继续购物或结账。");
        $("#go").html("进入购物车");
        $("#con").html("继续购物");

    } else {
        $("#btnadd").html("Add to Cart");
        $("#better-with").html("Better With");
        $("#brief-bot").html("Brief");
        $("#add_btn2").html("Add to Cart");
        $("#success-bot").html("Success");
        $("#success-text").html("Successfully join the shopping cart,continue shopping or settle accounts");
        $("#go").html("Go to Cart");
        $("#con").html("Continue");

    }
</script>
</body>
</html>
